* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffebcc;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image {
  width: 200px;
}

.post {
  width: 50%;
  background-color: #fcf2e3;
}