* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  
}

body {
  background-color: white;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: hsl(30, 10%, 34%);
  width: 100%;
}

article {
  width: 100%;
  max-width: 500px;
  background-color: #fff; 
  padding: 25px;
  border-radius: 10px;
}

.image {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-family: 'Young Serif', sans-serif;
  padding: 5px;
  font-weight: 400;
  font-size: 25px;
  color: hsl(24, 5%, 18%);
}

p {
  padding-bottom: 5px;
}

.info-box {
  background-color: hsl(332, 66%, 94%);
  padding: 10px;
  border-radius: 5px;
}

.info-title {
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}

span {
  font-weight: 500;
  color: hsl(332, 51%, 32%);
}

ul, ol {
  list-style-position: inside; 
}

li::marker {
  color:hsl(332, 51%, 32%);
}

li {
  padding: 4px;
}

.ingredients, .prepare {
  color: hsl(14, 45%, 36%);
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
}

footer {
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

/* Responsivo para telas maiores */
@media (min-width: 768px) {
  body {
    background-color: #fff8d7;
  }

  h1 {
    font-size: 30px;
  }

  .ingredients, .prepare {
    font-size: 25px;
  }

  .post {
    padding: 20px;
  }
}